footer {
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #45a1ff;
    color: #fff;
    border-radius: 10px;
  }

  footer a{
    text-decoration: none;
    color: #fff;
  }